<style>
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #34ca78; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #37D980;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}


 .margin10{margin-bottom:10px; margin-right:10px;}


</style>

<div class="container" data-ng-controller="blogCtrl">

  
  
  <br><br>
<h2><center><strong>BLOG VIEW</strong></center></h2>
  
    
     <div class="col-md-10 blogShort"  >
                     <h1>{{gblog.blogname}} </h1>
                    
                     <article>
                     <p>
                        {{gblog.blogcontent}} 
                     </p>
                    
                     
                     
                     </article>
                
                 </div>
	
  <!-- the comment box -->
                <div class="well"  >
                <br>
                    <form role="form"  data-ng-submit="addBlogComment()" >
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Leave Comments" rows="3" data-ng-model="BlogComment.blogcomm" ></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
                    </form>
                </div>

                <hr>
                
                <a>
          		<span class="glyphicon glyphicon-eye-open btn-lg" style="color:blue;">{{gblog.views}}</span>
        		</a>
        		
        		
<!--         		<a class="btn btn-md" href="" data-ng-click="likeBlog(gblog.blogid)" class="btn"><button type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</button></a> {{gblog.likes}}
 -->                <a  class="btn btn-info btn-lg">
          			<span class="glyphicon glyphicon-thumbs-up" data-ng-click="likeBlog(gblog.blogid)">{{gblog.likes}}</span>

       			</a>
                
                <!-- <a  class="btn btn-info btn-lg">
          			<span class="glyphicon glyphicon-thumbs-down" data-ng-click="dislikeBlog(gblog.blogid)">{{gblog.dislike}}</span>
       			</a> -->
                      
               
                
                <!-- the comments -->
                <div>
                <div  data-ng-repeat="comm in gblogcomm">
                <h3><b><span class="glyphicon glyphicon-user" style="font-size:20px"></span>
                {{comm.username}}</b>
                </h3>
                <p>{{comm.blogcomm}}</p>
<!--                 <button type="button" class="btn btn-danger" data-ng-click="deleteBlogComment(gblog.blogid)" style="float:right;margin-right:20px">Delete</button>
 -->                
</div>
                
</div>
                 
</div>
<script src="https://apis.google.com/js/plusone.js"></script>   
