<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job List</title>
</head>
<body>
<section class="featured-jobs">
    <div class="container">
		<div class="center-block"><h1>Featured Jobs</h1></div>
		<div class="row" data-ng-controller="jobcontroller">

				first feature job
				<div class="col-sm-6 col-md-4">
					
						<div class="thumbnail">
								<img data-src="holder.js/90x70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>
					
				</div>
				</div>
				</div>
				</section>
</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script>
.featured-jobs {
	  padding: 70px 0px;
	  background: #f2f0f1;
	}
	.featured-jobs .thumbnail {
	  padding: 20px;
	}
	.featured-jobs .thumbnail img {
	  float: left;
	  margin: 0 10px 10px 0;
	}
	.featured-jobs .thumbnail .feature-link {
	  color: #77c7dc;
	}
	.featured-jobs .thumbnail .feature-link h3 {
	  padding-left: 10px;
	  margin: 0 0 6px;
	  font-size: 18px;
	}
	.featured-jobs .thumbnail .meta {
	  color: #f16060;
	  font-size: 11px;
	}
	.featured-jobs .thumbnail p {
	  font-size: 12px;
	  margin: 0 0 5px;
	}
	.featured-jobs .thumbnail .feature-btns {
	  position: absolute;
	  bottom: -13px;
	  left: 15px;
	}

	@media only screen and (max-width: 1024px) {

	.thumbnail { margin-bottom:50px; }

	.featured-jobs .thumbnail .feature-btns { bottom:17px; }


	    }

	@media only screen and (max-width: 790px) {

	.thumbnail { margin-bottom:50px; }

	.featured-jobs .thumbnail .feature-btns { bottom:-33px; }

	    }
</script>
</head>
<body>
<section class="featured-jobs">
    <div class="container">
		<div class="center-block"><h1>Featured Jobs</h1></div>
		<div class="row"  data-ng-controller="jobcontroller">

				<!-- first feature job -->
				<div class="col-sm-6 col-md-4">
					
						<div class="thumbnail">
								<img data-src="holder.js/90x70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>
					
				</div>

				<!-- second feature job -->
				<div class="col-sm-6 col-md-4">
					
							<div class="thumbnail">
								<img data-src="holder.js/90x70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>
					
				</div>

				<!-- third feature job -->
				<div class="col-sm-6 col-md-4">
					
							<div class="thumbnail">
								<img data-src="holder.js/90x70" alt="advetiser logo">
								<a href="" class="feature-link"><h3>Job Title heading</h3></a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p>
								<span class="meta">Posted by Recruiter - 12/12/2014</span>
								<div class="feature-btns"><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a></div>
						</div>
					
				</div>

			</div>
		
	</div>
</section>

</body>
</html>