<style>
h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
</style>



<h2><strong>JOB MANAGE</strong></h2>

<div class="container">
  <div class="row" data-ng-controller="jobcontroller">
    <div class="col-xs-12">
    <br>
    <div class="btn-group btn-group-justified">
  <a href="#!job" class="btn btn-info">VIEW</a>
  <a href="#!newjob" class="btn btn-info">ADD JOB</a>
</div>
    <br><br>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><center><strong>JOB NAME </strong></center></th>
              <th><center><strong>JOB DESCRIPTION </strong> </center></th>
              <th><center><strong>JOB QUALIFICATION</strong> </center></th> 
              <th><center><strong>SALARY</strong></center></th>
              <th><center><strong>COMPANY</strong></center></th>
              <th><center><strong>ACTION</strong></center></th>
              
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="jobb in jobsdata">
            <td><center>{{jobb.jobprofile}}</center></td>
            <td><center>{{jobb.jobdesc}}</center></td>
			<td><center>{{jobb.qualification}}</td>
			<td><center>{{jobb.salary}}</center></td>
			<td><center>{{jobb.company}}</center></td>
            <td><center> 
           <a href=""  data-ng-show="currentuser.role=='ROLE_ADMIN'"><a href="" data-ng-click=deletejob(jobb.jobid)><img data-ng-src="http://localhost:8081/CollaborationFrontEnd/Images/reject.png" style="width:20px;height:20px"></a>
           <a href=""  data-ng-show="currentuser.role=='ROLE_ADMIN'"><a href="" data-ng-click=fetchjobforedit(jobb.jobid)><img data-ng-src="http://localhost:8081/CollaborationFrontEnd/Images/edit.png" style="width:20px;height:20px"></a></center></td>

 </tr>
          </tbody>
          <tfoot>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

