<style>
h2 {
  text-align: center;
}
</style>
<h2><strong>ADD JOB</strong></h2>
<br>
<div class="container">
<div data-ng-controller="jobcontroller">
<form data-ng-submit="insertJobs()">

  <div class="form-group" >
    <label for="exampleFormControlInput1">JOB PROFILE</label>
    <input type="text" class="form-control" id="jobprofile" data-ng-model="Job.jobprofile" required>
  </div>
  
  <div class="form-group" >
    <label for="exampleFormControlTextarea1">JOB DESCRIPTION</label>
    <input type="text" class="form-control" id="jobdesc"  data-ng-model="Job.jobdesc" required>
  </div>
  
  <div class="form-group" >
    <label for="exampleFormControlInput1">JOB QUALIFICATION</label>
    <input type="text" class="form-control" id="jobqualifications" data-ng-model="Job.qualification" required>
  </div>
  
  <div class="form-group" >
    <label for="exampleFormControlInput1">JOB SALARY</label>
    <input type="number" class="form-control" id="jobsalary" data-ng-model="Job.salary"  required>
  </div>
  
  <div class="form-group" >
    <label for="exampleFormControlInput1">COMPANY</label>
    <input type="text" class="form-control" id="company" data-ng-model="Job.company" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Company Description</label>
    <textarea class="form-control" id="companydesc" rows="3" data-ng-madel="Job.companydesc"></textarea>
  </div>
  
  <div class="input-field col s6">
                            <p class="right-align">
                                <button class="btn btn-success" type="submit" >SUBMIT</button>
                            </p>
                        </div>
  
</form>
</div>
</div>