<style>
h2 {
  text-align: center;
}
</style>
<h2><strong>UPDATE JOB</strong></h2>
  <div class="row">
            <div data-ng-controller="jobcontroller">
            <div class="container">
                <form data-ng-submit="editjob(ejob.jobid)" > 
                           <div class="form-group" >
    <label for="exampleFormControlInput1">JOB PROFILE</label>
    <input type="text" class="form-control" id="jobprofile" data-ng-model="Job.jobprofile" data-ng-value="ejob.jobprofile" data-ng-init="Job.jobprofile=ejob.jobprofile" required>
  </div>
  <div class="form-group" >
    <label for="exampleFormControlTextarea1">JOB DESCRIPTION</label>
    <input type="text" class="form-control" id="jobdesc"  data-ng-model="Job.jobdesc" data-ng-value="ejob.jobdesc" -ng-init="Job.jobdesc=ejob.jobdesc">
  </div>
            
  <div class="form-group" >
    <label for="exampleFormControlInput1">JOB QUALIFICATION</label>
    <input type="text" class="form-control" id="jobqualifications" data-ng-model="Job.qualification" data-ng-value="ejob.qualification" data-ng-init="Job.qualification=ejob.qualification">
  </div>                             
                
  <div class="form-group" >
    <label for="exampleFormControlInput1">JOB SALARY</label>
    <input type="number" class="form-control" id="jobsalary" data-ng-model="Job.salary" data-ng-value="ejob.salary" data-ng-init="Job.salary=ejob.salary">
  </div>
  
  <div class="form-group" >
    <label for="exampleFormControlInput1">COMPANY</label>
    <input type="text" class="form-control" id="company" data-ng-model="Job.company" data-ng-value="ejob.company" data-ng-init="Job.company=ejob.company">
  </div>


                    
                       <div class="input-field col s6">
                            <p class="right-align">
                                <button class="btn btn-success" type="submit" >SUBMIT</button>
                            </p>
                        </div>
                   
                </form>
                
                </div>
            </div>
    </div>
