<style>
.inputstl {
 
padding: 9px;
 
border: solid 1px #460023;
 
outline: 0;
 
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #FFCEE7), to(#FFFFFF));
 
background: -moz-linear-gradient(top, #FFFFFF, #FFCEE7 1px, #FFFFFF 25px);
 
box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
 
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
 
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
 
 
 
}
</style>
<div class="container">
 <div class="row" data-ng-controller="forumcontroller">
<h2><center><strong>UPDATE FORUM</strong></center></h2>
 <br>
<form class="form-horizontal" role="form" data-ng-submit="editForum(eforum.forumid)">
 
<div class="form-group" >
 
<label for="forumname" class="col-sm-2 control-label" >Forum Name:</label>
 
<div class="col-sm-8">
 
<input type="text" class="form-control inputstl" id="name1" placeholder="Enter forum Name" data-ng-value="eforum.formname" data-ng-model="Forum.formname" data-ng-init="Forum.formname=eforum.formname"">
 
</div>
 
</div>

<div class="form-group">
 
<label for="forumcontent" class="col-sm-2 control-label">Forum Content</label>
 
<div class="col-sm-8">
 
<textarea class="form-control inputstl" rows="5" data-ng-value="eforum.formcontent" data-ng-model="Forum.formcontent" data-ng-init="Forum.formcontent=eforum.formcontent" ></textarea>
 
</div>
 
</div >
 <div class="input-field col s8"><center>
                                <button class="btn btn-primary" type="submit" >UPDATE</button>
                           </center>
                        </div>
</form>
</div>
</div>
</div>